// table
.table{
    margin-bottom: 63px;
    thead th {
        padding: 16px 12px 4px 12px;
        border-top: none;;
        border-bottom: 1px solid #000;
    }
    tbody{
        td,th{
            border-color: $secondary;
            padding: 16px 12px 14px 12px;
        }
        td:last-child{
            padding: 16px 0 14px 0;
            width: 78px;
        }
        tr:last-child th,tr:last-child td{
            border-bottom: 1px solid $secondary;
        }
    }
}

// pagination
.pagination{
    margin-bottom: 0;
    .page-link{
        color: #2A8356;
        border-color: #2A8356;
    }
    .page-link:hover{
        background-color: #2A8356;
        color: white;
    }

}