.main{
    width: 77%;
    padding: 32px;
}

// assignment
.rightareaTop{
    margin-bottom: 32px;
}
.title{
    li:first-child{
        margin-right: 46px;
        font-size: 24px;
    }
}
.mr-26{
    margin-right: 26px;
}

.content{
    font-weight: lighter;
}

// allConments
.allComments{
    width: 34%;
    margin-right: 16px;
}
.all{
    margin-bottom: 6px;
}
.allList{
    font-size: 12px;
    li:first-child{
        background-color: $primary;
        border-top: 1px solid $secondary;
    }
    li{
        padding: 12px;
        border: 1px solid $secondary;
        border-top: none;
        p:first-child{
            margin-bottom: 4px;
            line-height: 15px;
        }
        p{
            margin-bottom: 0;
            line-height: 19px;
        }
    }
}
.gray-text{
    color: #0000009A;
}
.allsTitle{
    font-size: 16px;
}

// comments
.comments{
    width: 66%;
}
.littleComments{
    font-size: 12px;
    line-height: 24px;
    margin-bottom: 6px;
    text-align: right;
}
.commentsTitle{
    font-size: 12px;
    padding: 12px 17px 12px 16px;
    background-color: $primary;
    border: 1px solid $secondary;
    p{
        margin-bottom: 0;
        line-height: 19px;
    }
    p:first-child{
        margin-bottom: 4px;
        line-height: 15px;
    }
}

.commentsItems{
    padding: 16px 32px 22px 16px;
    border: 1px solid $secondary;
    border-top: none;
    img{
        width: 40px;
        height: 40px;
        border-radius:100%;
        margin-right: 8px;
    }
    h6{
        margin-bottom: 0;
    }
    .name{
        margin-bottom: 16px;
        
    }
    .itemContent{
        margin-left: 48px;
        margin-bottom: 16.5px;
        border-bottom: 1px solid $secondary;
        font-size: 14px;
        line-height: 21px;
        a{
            margin-bottom: 16.5px;
        }
    }
    .itemContent:last-child{
        border-bottom: none;
    }
}
.itemContent{
    p,.disc{
        span{
            display: inline-block;
            background-color: $primary;
            color: #2a8356;
            font-weight: 500;
            padding: 0 4px;
        }
    }
}
.small-text{
    font-size: 12px;
    line-height: 24px;
    margin-bottom: 0;
}
.mr23{
    margin-right: 23px;
}
.commentsFooter{
    ul{
        margin-bottom: 0;
    }
}
.commentsFooter,.bodyText{
    button{
        padding: 8px 32px;
    }
}

// bodyText
.bodyText{
    width: 100%;
    border: 1px solid $secondary;
    background-color: white;
    padding-bottom: 32px;
    top: -700%;
    display: none;
}
.bodyTextHeader{
    height: 56px;
    padding-left: 25px;
    border-bottom: 1px solid $secondary;
}
.bodyTextHeader,select{
    background-color: $primary;
    font-weight: bold;
}
.bodyText textarea {
    width: 100%;
    height: 212px;
    padding-left: 25px;
    padding-top: 16px;
}
