body{
    font-family: Lato;
    font-weight: bold;
}
.wrap{
    height: 100vh;
}
header{
    width: 23%;
}
.menu{
    padding: 32px 0;
    background-color: $primary;
    h1{
        font-size: 0;
        margin-bottom: 32px;
    }
    li{
        font-size:16px;
        cursor: pointer;
        margin-bottom: 29px;
        span{
            margin-right: 16px;
        }
    }
    .pageNow{
        color: #2A8356;
        border-left: 4px solid #2A8356;
    }
    .setting{
        margin-bottom: 362px;
    }
}

.menuItems,.user{
    margin-left: 32px;
}

.user{
    img{
        width: 40px;
        height: 40px;
        border-radius:100%;
        margin-right: 16px;
    }
    p{
        font-size: 14px;
        margin-top: 4px;
        margin-bottom: 0;
        color: #0000009A;
    }
}